@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
html, body, ul, li, a{
  margin:0;
  padding:0;
  font-family:'Hanna';
}
html {
	position: relative;
	min-height: 100%;
}
body {
  margin-top: 10%;
	margin-bottom: 10%;
}

/*

  Base Style

*/

.time{
  display: inline;
  float: right;
  font-size:12px;
}
.title{
  display: inline;
  font-size: 38px;
}

.t1{
color: #ffffff;
font-size:20px;
}
hr{
  border-width: 3px;
  border-color: black;
}
.thin{
    border-width: 1px;
}
.top{
    padding-bottom: 10px;
    padding-top: 10px;
    font-size:18px;
}
.commentAdd{
    bottom: 0;
  margin-left: 20px;
}

.createdAt{
    font-size: 12px;
}
.delete{
    display: inline;  
}
.body{
  display: block; 
}

.tools a, .tools form{
  display: inline;
}

#EditBtn{
  padding-left: 20px;
}

